<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <title>Lista de tareas</title>

    <style type="text/css">
        /*Estilos CSS propios*/
        body {
            background: url("https://wallpx.com/image/2021/05/minimalism-paper-airplane.jpg");
        }

        footer {
            position: absolute;
            bottom: 0;
            font-family: titulares;
            font-size: 13px;
            color: white;
        }

        h1 {
            text-align: center;
            color: white;
        }

        label {
            color: white;
        }
    </style>

</head>
<body>
    
    <h1> TIENDA </h1>

    <!--Formulario para el ingreso del nombre de las tiendas tomado de Bootstrap-->
    <form method="post" action="{{url_for('enviar')}}">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Ingrese su nombre " name="nombre">
        </div>

        <div class="form-group">
            <label>Telefono</label>
            <input type="text" class="form-control" placeholder="Ingrese su número de telefono " name="telefono">
        </div>

        <div class="form-group">
            <label>Gerente</label>
            <input type="text" class="form-control" placeholder="Ingrese el nombre del gerente " name="gerente">
        </div>

           
        <div class="form-group">
            <label> ESTADO </label>
            <select class="form-select" size="3" aria-label="size 3 select example" name="covid">
                <option value="NORMAL">NORMAL</option>
                <option value="CASO">CASO</option>
            </select>
        </div> <br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <input type="submit" value="Registrar" class="btn btn-primary">
        </div>
    </form><br>

    <h1>Lista de las tiendas </h1>

    <!--Controlador 1.1 Tabla para mostrar tiendas -->
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre de la tienda</th>
                <th scope="col">Número de telefono</th>
                <th scope="col">Nombre del Gerente</th>
                <th scope="col">Estado</th>
            </tr>

        </thead>

        <tbody>

            <tr>
                {% for tarea in listaTiendas %}
                <!--Mostrar cliente-->
                <th>{{tarea.nombre}}</th>
                <!--Mostrar numero de telefono-->
                <th>{{tarea.telefono}}</th>
                <!--Mostrar nombre de gerente-->
                <th>{{tarea.gerente}}</th>
                <!--Mostrar si dispone covid-->
                <th>{{tarea.covid}}</th>
            </tr>
            {% endfor %}
        </tbody>

    </table>


    
</body>
</html>